.ToDoList {
  list-style: none;
  margin-top: 20px;
  border-right: 2px solid skyblue;
  padding: 0 20px;
  max-height: 200px;
  overflow: scroll;
}

.ToDoList > div {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  font-size: 25px;
  margin-bottom: 10px;
}

.ToDoList > div > li {
  display: inline-block;
  flex-grow: 1;
}

.ToDoList > div > button {
  background-color: cornflowerblue;
  flex-basis: 60px;
  height: 40px;
  border-radius: 20px;
}
